<details>
    <summary class="bitbag-question">{{ frequentlyAskedQuestion.question }}</summary>

    <div class="ui divider"></div>

    <p class="bitbag-answer">{{ frequentlyAskedQuestion.answer }}</p>
</details>
