<div class="header">
    <h1>{{ terms.name }}</h1>
</div>

<div class="scrolling content">
    {{ terms.content|raw }}
</div>

<div class="actions">
    <div class="ui cancel button">Close</div>
</div>
